body {
  font-family: Verdana;
  font-size: 10pt; }

#navigation {
  background: url(../images/runner.png);
  padding: 10px 0; }
  #navigation #menu {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    display: inline;
    margin-left: 0; }
    #navigation #menu li {
      margin: 0px;
      padding: 0px;
      display: inline; }
    #navigation #menu li:before {
      content: ' | '; }
    #navigation #menu li:first-child:before {
      content: ''; }
    #navigation #menu li a {
      text-transform: uppercase;
      text-decoration: none;
      color: black;
      font-weight: bold;
      padding: 10px;
      font-size: 14px; }
      #navigation #menu li a:hover {
        text-decoration: underline; }
      #navigation #menu li a:hover {
        color: #FFB15F; }
      #navigation #menu li a:visited {
        color: black; }
        #navigation #menu li a:visited:hover {
          color: #FFB15F; }

#banner {
  background-color: black;
  padding-top: 10px; }

#main {
  background-color: black;
  padding-top: 10px; }

#sidebar {
  color: white; }
  #sidebar #slideshow {
    width: 220px;
    height: 160px;
    margin-left: 10px; }
  #sidebar .vcard {
    padding-left: 10px;
    margin-top: 20px; }
    #sidebar .vcard .country-name {
      display: none; }
    #sidebar .vcard .adr {
      margin-bottom: 15px; }
      #sidebar .vcard .adr .type {
        display: none; }
      #sidebar .vcard .adr .locality:after {
        content: ', '; }
    #sidebar .vcard .tel .type {
      display: none; }
    #sidebar .vcard .hours {
      margin-top: 15px; }
  #sidebar h3 {
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 5px;
    color: #F66708; }
  #sidebar h4 {
    text-transform: uppercase;
    color: white;
    margin-bottom: 5px; }

#content {
  background-color: white;
  color: black; }
  #content.home {
    background-color: black;
    color: white; }
  #content a {
    text-decoration: none;
    color: #F66708; }
    #content a:hover {
      text-decoration: underline; }
    #content a:visited {
      color: #F66708; }
  #content ul.no_bullets {
    list-style-type: none;
    margin-left: 0px; }

#map img {
  border: 1px solid black; }

#testimonial {
  background-image: url(../images/quotation_left.png);
  background-repeat: no-repeat;
  color: #EEE;
  text-align: center;
  margin-top: 50px;
  padding-left: 30px;
  padding-top: 10px; }
  #testimonial .author {
    margin-top: 10px; }
