body {
  font-family: Verdana;
  font-size: 10pt; }

#sidebar address {
  margin-top: 10px;
  font-style: normal; }
#sidebar h5 {
  font-weight: normal;
  margin-bottom: 0; }

div.content .header {
  text-transform: uppercase;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-topleft: 11px;
  -moz-border-radius-topright: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-top-left-radius: 11px;
  -webkit-border-top-right-radius: 0;
  background-color: #F6822B;
  color: white;
  font-size: 14px;
  padding-left: 15px;
  margin-bottom: 3px; }
div.content .details {
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-bottomright: 11px;
  -moz-border-radius-topleft: 0;
  -moz-border-radius-topright: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-bottom-right-radius: 11px;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
  border: 1px solid black;
  margin-bottom: 20px; }
  div.content .details h3 {
    font-size: 1.2em;
    font-weight: bold;
    margin: 5px;
    padding: 0px; }
  div.content .details p {
    margin: 5px;
    padding: 0px;
    color: #999;
    font-weight: bold;
    line-height: 1.2em; }
  div.content .details ul.checklist {
    list-style-image: url(../images/checkmark.png);
    padding: 5px; }
    div.content .details ul.checklist li {
      text-transform: uppercase;
      font-weight: bold; }
      div.content .details ul.checklist li p.description {
        text-transform: none; }
      div.content .details ul.checklist li li {
        font-size: .9em;
        text-transform: none; }
  div.content .details ul {
    list-style-image: url(../images/bullet.png); }

em {
  color: #FFB15F;
  text-transform: uppercase; }

ul.homepage {
  list-style-image: none; }
  ul.homepage li {
    font-weight: bold; }
    ul.homepage li ul {
      list-style-image: url(../images/bullet.png);
      color: #999; }

div.caption {
  -moz-border-radius-bottomleft: 11px;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-topleft: 0;
  -moz-border-radius-topright: 0;
  -webkit-border-bottom-left-radius: 11px;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
  width: 116px;
  background-color: #F6822B;
  padding: 10px;
  font-size: 9px;
  line-height: 1.2em; }

#menu {
  margin-left: 0; }
  #menu li {
    list-style-type: none;
    margin-left: 0px; }
  #menu li {
    border-bottom: 1px dashed black;
    margin-top: 10px; }
    #menu li a {
      text-transform: uppercase;
      text-decoration: none;
      padding-top: 10px;
      color: black; }
      #menu li a:hover {
        text-decoration: underline; }
      #menu li a:hover {
        color: #FFB15F; }
      #menu li a:visited {
        color: black; }
        #menu li a:visited:hover {
          color: #FFB15F; }

div.footer {
  margin-top: 30px; }
  div.footer .quote {
    text-transform: uppercase;
    padding-top: 10px;
    color: #FFB15F;
    text-align: center;
    line-height: 1em;
    font-size: 20px; }
    div.footer .quote .tagline {
      font-style: italic;
      font-size: 24px; }
    div.footer .quote .author {
      font-size: 12px; }
  div.footer div.testimonial {
    -moz-border-radius-bottomleft: 0;
    -moz-border-radius-bottomright: 0;
    -moz-border-radius-topleft: 11px;
    -moz-border-radius-topright: 0;
    -webkit-border-bottom-left-radius: 0;
    -webkit-border-bottom-right-radius: 0;
    -webkit-border-top-left-radius: 11px;
    -webkit-border-top-right-radius: 0;
    background-color: #F6822B;
    background-image: url(../images/quotation_left.jpg);
    background-repeat: no-repeat;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
    color: #EEE;
    text-align: center; }
    div.footer div.testimonial .author {
      margin-top: 10px; }
