<div id="header" class="span-24"></div>
<div id="navigation" class="span-24">
  <ul id="menu">
    <li>
      <a href="/">Home</a>
    </li>
    <li>
      <a href="/services">Services</a>
    </li>
    <li>
      <a href="/about_us">About Us</a>
    </li>
    <li>
      <a href="/staff">Staff</a>
    </li>
    <li>
      <a href="/patient_information">Patient Information</a>
    </li>
    <li>
      <a href="/contact">Contact</a>
    </li>
    <li>
      <a href="/resources">Resources</a>
    </li>
    <li>
      <a href="/products">Products</a>
    </li>
  </ul>
</div>
