<div id="sidebar" class="span-6">
  <div class="vcard">
    <h3 class="fn org">Total Rehab</h3>
    <h4>Orthopedic &amp; Sports Specialist</h4>
    <h4 class="separator">Locations</h4>
    <ol class="locations no_bullets">
      <li class="adr">
        <h5>Grinnell</h5>
        <span class="type">Work</span>
        <span class="street-address">Southview Plaza-Suite #4</span>
        <span class="street-address">234 West Street South</span>
        <span class="locality">Grinnell</span>
        <abbr class="region" title='Iowa'>IA</abbr>
        <span class="postal-code">50112</span>
        <span class="country-name">USA</span>
        <div class="phone">
          Phone:
          <span class="tel">
            <span class="type">Work</span>
            641-236-4506
          </span>
        </div>
        <div class="phone">
          Fax:
          <span class="tel">
            <span class="type">Fax</span>
            641-236-4316
          </span>
        </div>
      </li>
      <li class="adr">
        <h5>Williamsburg</h5>
        <span class="type">Work</span>
        <span class="street-address">507 Court Street</span>
        <span class="locality">Williamsburg</span>
        <abbr class="region" title='Iowa'>IA</abbr>
        <span class="postal-code">52361</span>
        <span class="country-name">USA</span>
        <div class="phone">
          Phone:
          <span class="tel">
            <span class="type">Work</span>
            319-668-9453
          </span>
        </div>
        <div class="phone">
          Fax:
          <span class="tel">
            <span class="type">Fax</span>
            641-236-4316
          </span>
        </div>
      </li>
      <li class="adr">
        <h5>Diamond Trail Fitness Center (beginning 7/1/2016)</h5>
        <span class="type">Work</span>
        <span class="street-address">12498 Highway F62 East</span>
        <span class="locality">Sully</span>
        <abbr class="region" title='Iowa'>IA</abbr>
        <span class="postal-code">50251</span>
        <span class="country-name">USA</span>
        <div class="phone">
          Phone:
          <span class="tel">
            <span class="type">Work</span>
            641-594-3303
          </span>
        </div>
        <div class="phone">
          Fax:
          <span class="tel">
            <span class="type">Fax</span>
            641-236-4316
          </span>
        </div>
      </li>
    </ol>
  </div>
</div>
