%h2 The Total Rehab Advantage

%ul.no_bullets
  %li 
    %h3 Business Summary
    %p
      Total Rehab is a locally owned, private practice, full service Physical and Occupational Therapy Clinic. Total Rehab specializes in orthopedic injury rehabilitation, pediatrics, sports medicine, and industrial services. Our objective is to provide reliable, high quality services with positive treatment outcomes. We strive to provide an energetic environment with the latest in rehabilitation equipment.
  %li
    %h3 ONE ON ONE CARE
    %p
      Every patient will be guaranteed one on one care from a licensed Physical or Occupational Therapist from the initial evaluation to the final treatment. As therapists we believe in the treatment of the whole body and treatments are individually designed for each patient.
  %li 
    %h3 Cost Effective Treatments
    %p
      Total Rehab is an out-patient based facility; therefore, most insurance companies DO NOT require deductibles to be met before insurance benefits will apply. Total Rehab is committed to providing the highest quality of services at a reasonable price.
  %li 
    %h3 Self Referral
    %p
      Iowa recognizes direct access for therapy treatments.  Most patients with Blue Cross Blue Shield and certain other insurance do not require a physician referral prior to being seen for therapy.   If you are unsure whether this applies to you, please contact our office at 641-236-4506.
  %li 
    %h3 Focus on Patient Education
    %p
      We emphasize patient education and will help you understand your diagnosis, treatment, anticipated healing time, and expected outcome. We enable you to be an active participant in your care by providing you with a home exercise program to assist your recovery, improve your outcome, and prevent complications. 
  %li
    %h3 Facilities
    %p
      Our clinic is handicapped accessible and parking is located directly in front of the clinic.  We have private treatment rooms and maintain updated rehabilitation equipment.  After you are discharged from therapy, you are given the option of continuing to use our equipment for a low monthly fee.
