.span-14.content
  .span-5.last
    %h2.header Patient Care
  .details.span-13
    .span-6
      = img 'patient_care.png'
    .span-7.last
      %h3 Total Rehab Orthopedit & Sports Specialists
      %p
        is a locally owned, private practice who offers a 
        non surgical
        testing
        other text here ivate practice who offers a non surgical testing other text here  ivate practice who offers a non surgical testing other text here ivate practice who offers a non surgical testing other text here ivate practice who offers a non surgical testing other text here ivate practice who offers a non surgical testing other text here ivate practice who offers a non surgical testing other text here ivate practice who offers a non surgical testing other text here ivate practice who offers a non surgical testing other text here 

  .span-5.last
    %h2.header Our Services Include
  .details.span-13
    .span-3
      = img 'patient_services.png'
    .span-10.last
      %h3 Total Rehab Orthopedit & Sports Specialists
      %p
        is a locally owned, private practice who offers a 
        non surgical
        testing
        other text here
        ivate practice who offers a non surgical testing other text here ivate practice who offers a non surgical testing other text here ivate practice who offers a non surgical testing other text here ivate practice who offers a non surgical testing other text here ivate practice who offers a non surgical testing other text here 
.span-4.last.right_column
  = img 'stacey.png'
  %p.caption
    Physical Therapy/Owner
    %br
    Board Certified
    %br
    Orthopedic Clinical Specialist
    %br
    Certified Strength and Conditioning Specialist
