#content_home.span-18.last
  #watermark.last.push-3
    = img 'watermark.png', :class => 'watermark'

  #testimonial.span-8.push-9.last
    I like the individual attention that I receive at Total Rehab. 
    I like the atmosphere here, comfortable, clean, nice, friendly and relaxing.
    I feel the staff is extremely encouraging, caring, and well educated.
    I know the ethics of this facility and ownership is very high.
    I feel their concern/actions are always in my best interest.
  
    .author
      \- Tom Rae
