.container
  .span-24.header
    = img 'TotalRehab_template/TotalRehab_header.jpg'
  .span-24.content
    .span-6
      %ul.menu
        %li Home
        %li Philosophy
        %li Our Staff
        %li Pediatric
        %li Industrial Rehab
        %li Sports Enhancement
        %li Contact Us
      
      %h5 Total Rehab
      %strong 641-236-4506
      
      %address
        Southview Plaza-Suite D
        %br
        234 West Street South
        %br
        Grinnell, IA 50112
    	
      %h5 Hours
      7:30am - 6:00pm
    	
  .span-24.footer
    = img 'TotalRehab_template/TotalRehab-footer.jpg'
