.span-14.content
  .span-5.last
    %h2.header Patient Care
  .details.span-13
    .span-6
      = img 'patient_care.png'
    .span-7.last
      %h3 Total Rehab Orthopedit & Sports Specialists
      %p
        is a locally owned, private practice who offers a 
        non surgical treatment for pain and is designed to
        help you improve your physical performance.
        In our facility you will receive personalized,
        one-on-one care with our specialized professionals
        who use the latest in rehabilitation equipment. 
        We take pride in servicing you, with extended hours, 
        timely treatments, and doing our best to work with 
        your insurance or offering payment plans if no insurance is used.

  .span-5.last
    %h2.header Our Services Include
  .details.span-13
    .span-3
      = img 'patient_services.png'
    .span-10.last
      %h3 Physical Therapy
      %p - Neck, back, hip, knee, foot, ankle rehabilitation
      %p - Strength, and Conditioning for return to sport (individual or small group)
      
      %h3 Occupational Therapy
      %p - Shoulder, elbow, wrist and finger manipulation
      %p - Splinting
      %p - Fitting of adaptive equipment
      
      %h3 Industrial Services
      %p - Functional capacity evaluations
      %p - Onsite ergonomic/job safety evaluations
      %p - Job analysis
      %p - Pre work screening
      
      %h3 Pediatric Therapy
      %p - Group handwriting sessions
      %p - Assessment and treatment of developmental delays, difficulty with coordination, and behaviors
.span-4.last.right_column
  = img 'stacey.png'
  %p.caption
    Physical Therapy/Owner
    %br
    Board Certified
    %br
    Orthopedic Clinical Specialist
    %br
    Certified Strength and Conditioning Specialist
