.span-14.content
  .span-5.last
    %h2.header Industrial Rehab
  .details.span-13
    .span-5
      = img 'industrial.jpg'
    .span-8.last
      %ul.checklist
        %li 
          Injury Evaluation and Rehabilitation 
          %p.description (Physician Referral is not mandatory)
          %ul 
            %li 
              Physical Therapy
              %p.description - Neck, back, hip, knee, and foot care
            %li 
              Occupational Therapy 
              %p.description - Shoulder, elbow, wrist and hand care
              %p.description - Splinting/Bracing 
        %li 
          Job Analysis
          %p.description
            Provides information on essential functions of a position prior to performing a Post Offer Pre-Placement Screen.
        %li Post-offer, Pre-Placement Work Screens
        %li Drug Testing per facility requirement
        %li 
          Return-to-Work Programs
          %ul
            %li Work Hardening
            %li Work Conditioning
        %li 
          Functional Capacity Evaluation
          %ul
            %li Useful for job matching after injury, offer for alternative employment, or disability determination.

= partial('stacey')
