.span-14.content
  .span-5.last
    %h2.header Pediatric Care
  .details.span-13
    .span-4
      = img 'pediatric_services.png'
    .span-9.last
      %h3 Pediatric Services
      %p
        %ul.checklist
          %li 
            Sensory modulation
            %p.description 
              identifying when our system is "Just Right"
              or at an optimal level of arousal for learning, 
              playing, paying attention and listening.
          %li 
            Calming
            %ul 
              %li Attention to task
              %li Following directions
              %li Enabling strengths and identifying learning styles
              %li Assisting in deficit management
          %li 
            Gross Motor training
            %p.description
              Assessment of a child's ability to complete 
              activities of daily living.
            %ul
              %li Vestibular movement
              %li Proprioception
              %li Body awareness 
          %li 
            Fine Motor training
            %p.description Assessment and instruction in handwriting.
          %li 
            Hand strengthening
            %p.description Dexterity and manipulation.
          %li Determining hand dominance
          %li 
            Social Skills
            %ul
              %li Transitions
              %li Self esteem

.span-4.last.right_column
  = img 'linda.png'
  .caption
    Occupational Therapist
    %br
    Registered, Licensed
    %br
    15 years experience

