.span-14.content
  .span-5.last
    %h2.header Total Rehab
  .details.span-13
    .span-10
      %h3 Philosophy
      %p
        %ul.checklist
          %li 
            Business Summary
            %p.description 
              Total Rehab is a locally owned, private practice, full service Physical and Occupational Therapy Clinic. Total Rehab specializes in orthopedic injury rehabilitation, pediatrics, sports medicine, and Industrial services. Our objective is to provide reliable, high quality services with positive treatment outcomes. We strive to provide an energetic environment with the latest in rehabilitation equipment.
          %li 
            The Total Rehab Advantage -
            %em One On One Care
            %p.description
              Every patient will be guaranteed one on one care from a licensed Physical or Occupational Therapist from the initial evaluation to the final treatment.
          %li 
            Cost Effective Treatments
            %p.description
              Total Rehab is an out-patient based facility; therefore most insurance companies DO NOT require deductibles to be met before insurance benefits will apply. Total Rehab is committed to providing the highest of quality services at a reasonable price.
          %li 
            Specialization of Training
            %p.description 
              %a{:href => 'our_staff.html'} every therapist has a specialty of training in which they excel in order to serve you better.
    .span-3.last{:style => 'margin-top: 100px'}
      = img 'total_rehab.png'
      

.span-4.last.right_column
  = img 'facilities.png'
  .caption
    State of the art facility
    %br
    Private practice locally owned and operated
