.span-14.content
  .span-5.last
    %h2.header Total Rehab
  .details.span-13
    .span-10
      %h3 Philosophy
      %p
        %ul.checklist
          %li 
            Business Summary
            %p.description 
              Total Rehab is a locally owned, private practice, full service Physical Therapy clinic. Total Rehab specializes in orthopedic injury rehabilitation and Sports Medicine services. Our objective is to provide reliable, high quality Physical Therapy services with positive treatment outcomes. We strive to provide an energetic environment with the latest in rehabilitation equipment.
          %li 
            The Total Rehab Advantage -
            %strong One On One Care
            %p.description
              Every patient will be guaranteed one on one care from a licensed Physical Therapist from the initial evaluation to the final treatment.
          %li 
            Cost Effective Treatments
            %p.description
              Total Rehab is an out-patient based facility; therefore most insurance companies DO NOT require deductibles to be met before insurance benefits will apply. Total Rehab is committed to providing the highest of quality services at a reasonable price.
          %li 
            Specialization of Training
            %p.description 
              Stacey Alberts is a licensed Physical Therapist (PT), a Certified Strength and Conditioning Specialist, and is in process of obtaining an Orthopedic Clinical Specialist (OCS) certification. Stacey also has additional training in sideline sports injury coverage, has an extensive history of NCAA athletic competition, and has been developing and administering sport enhancement programs for four years.
    .span-3.last{:style => 'margin-top: 100px'}
      = img 'total_rehab.png'
      

.span-4.last.right_column
  = img 'facilities.png'
  .caption
    State of the art facility
    %br
    Private practice and locally owned and operated
