.span-5.last
  %h2.header Sports Enhancement
.details.span-13
  %ul.checklist
    %li 
      Total Rehab sports enhancement program - 
      %em For return to sport
      %p Total Rehab's Sport Enhancement Program has been designed to help athletes improve their core strength, agility, quickness, vertical jump, power, and endurance. It is a program that is useful when an athlete is ready to participate in more challenging activities after an injury in an effort to ready themselves to return to sport.  It is also a reasonable cash pay option when insurance benefits are exhausted. Pre and post testing will be performed in a variety of categories so that athletes can see their progress at the end of their training.

      %p Training sessions will be one hour in duration.  Cost is $40/session.
  = img 'sports_enhancement.jpg'
