%h2 Staff 

%h3 Stacey Alberts, PT/OCS/CSCS
%p Professional Title:  Master of Physical Therapy

%h4 Education
%p Master of Physical Therapy, The University of Iowa
%p Undergraduate: Central College, Pella, Iowa
 
%p Other credentials or certifications: Board Certified Orthopaedic Clinical Specialist (OCS), Certified Strength and Conditioning Specialist (CSCS) 

%p Professional Interests: Orthopedic Injuries, Workman's Compensation/Industrial Rehab, Sports Rehabilitation

%p
  Email: 
  %a{:href => 'mailto:stacey@totalrehab-pt.com'} stacey@totalrehab-pt.com 

%h3 Amy Baker, DPT
%p Professional Title: Doctorate of Physical Therapy

%h4 Education
%p Doctorate of Physical Therapy,  The University of Iowa
%p Undergraduate: Northwestern College, Orange City, IA
 
%p Other Credentials: Adjunct Associate Faculty for The University of Iowa Graduate Program in Physical Therapy and Rehabilitation Science

%p Professional Interests:  Orthopedic Injuries, Sports Rehabilitation, Pediatrics, Vestibular Rehabilitation

%p
  Email: 
  %a{:href => 'mailto:amy@totalrehab-pt.com'} amy@totalrehab-pt.com 

%h3 Linda Davis, OTR/L
%p Professional Title :  Occupational Therapist Registered/Licensed

%h4 Education
%p Bachelors of Science, The University of Findlay, Findlay, Ohio

%p Professional Interests:  Pediatrics, Geriatrics, Upper extremity orthopedics/hands. 

%p
  Email: 
  %a{:href => 'mailto:linda@totalrehab-pt.com'} linda@totalrehab-pt.com 

%h3 Kristy Wallace: OTR/L, CWCE
%p Professional Title: Occupation Therapist Registered/Licensed

%h4 Education
%p Masters of Occupational Therapy, University of Indianapolis
%p Undergraduate: Central College, Pella, IA
 
%p Other credentials: Certified Work Capacity Evaluator (CWCE)

%p Professional Interests:  Industrial Rehabilitation, Functional Capacity Evaluations, Ergonomic Consultation, Industrial Injury Prevention, and Worker's Compensation Claim Resolution    
