//!main-orange = #F6822B

// Turn off the bullet for an element of a list
=no-bullet
  :list-style-type none
  :margin-left 0px

// turns off the bullets for an entire list
=no-bullets
  li
    +no-bullet

//make text uppercase
=uppercase
  :text-transform uppercase

// a link that only has an underline when you hover over it
=hover-link
  :text-decoration none
  &:hover
    :text-decoration underline

body
  :font
    :family Verdana
    :size 10pt

#sidebar
  address
    :margin-top 10px
    :font-style normal
  h5
    :font-weight normal
    :margin-bottom 0

.content
  .header
    +uppercase
    :background-color #F6822B
    :color white
    :font-size 14px
    :padding-left 15px
    :margin-top 20px
  .details
    :border 1px solid black
    h3
      :font-size 12px
      :font-weight bold
      :margin-bottom 4px
    p
      :color #999
      :font-weight bold
      :line-height 1em

#menu
  +no-bullets
  :margin-left 0
  li
    :border-bottom 1px dashed black
    :margin-top 10px
    a
      +uppercase
      +hover-link
      :padding-top 10px
      :color black
      &:visited
        :color black
