#footer.span-24
  .pull-2.fb_wrapper{:style=>'float:right'}
    %script{:src =>"http://connect.facebook.net/en_US/all.js#xfbml=1"}
    <fb:like href="http://www.totalrehab-pt.com" show_faces="false" width="200" font=""></fb:like>

:javascript
  var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
  document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  </script>
  <script type="text/javascript">
  try {
  var pageTracker = _gat._getTracker("UA-9431732-1");
  pageTracker._trackPageview();
  } catch(err) {}

