#sidebar.span-6
  .vcard
    %h3.fn.org Total Rehab
    %h4 Orthopedic & Sports Specialist

    %h4.separator Locations
    %ol.locations.no_bullets
      %li.adr
        %h5 Grinnell
        %span.type Work
        %span.street-address Southview Plaza-Suite #4
        %span.street-address 234 West Street South
        %span.locality Grinnell
        %abbr.region{:title => 'Iowa'} IA
        %span.postal-code 50112
        %span.country-name USA
        .phone
          Phone:
          %span.tel
            %span.type Work
            641-236-4506
        .phone
          Fax:
          %span.tel
            %span.type Fax
            641-236-4316
      %li.adr
        %h5 Williamsburg
        %span.type Work
        %span.street-address 509 Court Street
        %span.locality Williamsburg
        %abbr.region{:title => 'Iowa'} IA
        %span.postal-code 52361
        %span.country-name USA
        .phone
          Phone:
          %span.tel
            %span.type Work
            319-668-9453
