<!DOCTYPE html>
<html>
  <head>
    <title>Total Rehab - Orthopedic and Sports Specialist</title>
    <link rel="stylesheet" href="/stylesheets/blueprint/screen.css" type="text/css" media="screen, projection" />
    <link rel="stylesheet" href="/stylesheets/blueprint/print.css" type="text/css" media="print" />
    <!--[if lt IE 8]>
      <link rel="stylesheet" href="/stylesheets/blueprint/ie.css" type="text/css" media="screen, projection" />
    <![endif]-->
    <link rel="stylesheet" href="/stylesheets/application.css" type="text/css" />
    <script type="text/javascript" src="/javascripts/jquery.js"></script>
    <script type="text/javascript" src="/javascripts/totalrehab-pt.js"></script>
  </head>
  <body>
    <div class="container">
      {% include header.html %}
      <div id="banner" class="span-24">
        <img src="/images/banner.jpg" />
      </div>
      <div id="main" class="span-24">
        {% include sidebar.html %}
        <div id="content" class="home span-18 last">
          <div id="testimonial" class="push-4 span-9 last">
            <blockquote>
              <p>
                I have used Total Rehab three times and could not be happier!
                My results have been superior to others that have used other facilities.
                I have re-habed a quadracept rupture and 2 total knee replacements.
                I recommend them highly to anyone that might need physical therapy.
              </p>
            </blockquote>
            <div class="author">
              - Total Rehab Client
            </div>
          </div>
        </div>
      </div>
      {% include footer.html %}
    </div>
  </body>
</html>
