<!DOCTYPE html>
<html>
  <head>
    <title>Total Rehab - Orthopedic and Sports Specialist</title>
    <link rel="stylesheet" href="/stylesheets/blueprint/screen.css" type="text/css" media="screen, projection" />
    <link rel="stylesheet" href="/stylesheets/blueprint/print.css" type="text/css" media="print" />
    <!--[if lt IE 8]>
      <link rel="stylesheet" href="/stylesheets/blueprint/ie.css" type="text/css" media="screen, projection" />
    <![endif]-->
    <link rel="stylesheet" href="/stylesheets/application.css" type="text/css" />
    <script type="text/javascript" src="/javascripts/jquery.js"></script>
    <script type="text/javascript" src="/javascripts/totalrehab-pt.js"></script>
  </head>
  <body>
    <div class="container">
      {% include header.html %}
      <div id="banner" class="span-24">
        <img src="/images/banner.jpg" />
      </div>
      <div id="main" class="span-24">
        {% include sidebar.html %}
        <div id="content" class="home span-18 last">
          <div id="testimonial" class="push-4 span-9 last">
            <blockquote>
              <p>
                I like the individual attention that I receive at Total Rehab.
                I like the atmosphere here, comfortable, clean, nice, friendly and relaxing.
                I feel the staff is extremely encouraging, caring, and well educated.
                I know the ethics of this facility and ownership is very high.
                I feel their concern/actions are always in my best interest.
              </p>
            </blockquote>
            <div class="author">
              - Tom Rae
            </div>
          </div>
        </div>
      </div>
      {% include footer.html %}
    </div>
  </body>
</html>
