!!!
%html
  %head
    %title Total Rehab - Orthopedic and Sports Specialist
    = stylesheets
    = blueprintcss :show_grid => true, :compressed => false
    = javascripts :jquery, :curvycorners, 'jquery.curvycorners'
  %body
    = yield